@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@keyframes slideIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

:root {
    @apply m-0 p-0 bg-white scroll-smooth
}

body {
    @apply m-auto flex flex-col h-screen font-poppins antialiased
}

@media (max-width: 1340px) {
    .portre {
        @apply hidden
    }
}

@media (max-width: 1100px) {
    .header {
        @apply w-[100vw] justify-evenly
    }

    .aside {
        @apply hidden
    }

    .main {
        @apply w-[85vw] p-0
    }

    .social {
        @apply flex
    }
}

@media (max-width: 770px) {
    .header .logo {
        @apply hidden
    }

    .header {
        @apply justify-center bg-black text-white
    }

    .about, .about div {
        @apply max-h-none
    }

    .skills, .skills div {
        @apply max-h-none
    }

    .projects, .projects div {
        @apply max-h-none
    }

    .contact, .contact div {
        @apply max-h-none
    }

    .icons-temporal {
        @apply hidden
    }

    .icons {
        @apply flex
    }

    .desktopProjects {
        @apply hidden
    }

    .mobileProjects {
        @apply flex
    }
}

@media (max-width: 550px) {
    .header {
        @apply justify-between px-10
    }

    .header .logo {
        @apply flex brightness-[1000%]
    }

    .header .desktopMenu {
        @apply hidden
    }

    .header .faBars {
        @apply flex
    }

    .name {
        @apply text-5xl
    }
}
