@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@keyframes slideIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

:root {
    @apply m-0 p-0 bg-white scroll-smooth select-none
}

body {
    @apply m-auto flex flex-col h-screen font-poppins antialiased
}

@media (max-width: 1340px) {
    .portre {
        @apply min-w-60 min-h-60
    }
}

@media (max-width: 1100px) {
    .navbar {
        @apply w-[100vw] justify-evenly
    }

    .aside {
        @apply hidden
    }

    .main {
        @apply w-[85vw] p-0
    }

    .social {
        @apply flex
    }

    .homeContent {
        @apply mt-10
    }

    .footerContainer {
        @apply max-w-[85vw] px-0
    }
}

@media (max-width: 770px) {
    .navbar .logo {
        @apply hidden
    }

    .navbar {
        @apply justify-center bg-black text-white
    }

    .about, .skills, .projects, .contact, .footer {
        @apply mt-12
    }

    .about, .about div {
        @apply max-h-none
    }

    .skills, .skills div {
        @apply max-h-none
    }

    .projects, .projects div {
        @apply max-h-none
    }

    .contact, .contact div {
        @apply max-h-none
    }

    .icons-temporal {
        @apply hidden
    }

    .icons {
        @apply flex
    }

    .desktopProjects {
        @apply hidden
    }

    .mobileProjects {
        @apply flex
    }

    .footerContainer .footerTop {
        @apply flex-col items-center
    }
}

@media (max-width: 710px) {
    .portre {
        @apply hidden
    }
}

@media (max-width: 620px) {
    .navbar {
        @apply justify-between px-10
    }

    .navbar .logo {
        @apply flex brightness-[1000%]
    }

    .navbar .desktopMenu {
        @apply hidden
    }

    .navbar .faBars {
        @apply flex
    }

    .name {
        @apply text-5xl
    }

    .formContainer {
        @apply flex-col
    }

    .formContainer .contactSocial {
        @apply pt-0 grow
    }

    .formContainer .contactSocial ul {
        @apply w-full flex-row
    }
}

@media (max-width: 350px) {
    .formContainer {
        @apply gap-5
    }
}